* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	color: var(--dark);
	-webkit-tap-highlight-color: transparent;
	font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
		Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

:root {
	--dark: #3f3f3f;
	--gray: #dadada;
	--green: #99ffc2;
	--red: #ffc7c7;
	--blue: #3485ff;
	--footer-height: 4rem;
}

::selection {
	background-color: #33eea0;
	color: white;
}

::-webkit-scrollbar {
	width: 6px;
	background: transparent;
}

::-webkit-scrollbar-track {
	background: #fff;
}

::-webkit-scrollbar-thumb {
	background: rgba(0, 0, 0, 0.5);
}
